@model IEnumerable<WholesaleBase.Models.Delivery>

@{
    ViewData["Title"] = "Поставки";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Supplier_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentStatus)
            </td>
            <td>
                    <a asp-action="ChangeStatus" asp-route-id="@item.Number" class="btn btn-sm btn-warning">Change Status</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Number">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Number">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Number">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
