@model WholesaleBase.Models.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Number">Edit</a> |
    <a asp-action="ViewOrdersWithContents">Back to List</a>
</div>
